

/* Two shades of blue where used throughout this project
 light refers to the lighter shade of blue, dark refers to the darker*/
 :root {
  --light: #93C6E7;
  --dark: #94BFCD;
}


 /* Header */

header {
    height: 5vh;
    margin: 1%;
}

 /* Navbar */

.menu {
  display:flex;
  position: fixed;
  z-index: 9999;
  right: 20px;
  }

  .menu li {
    list-style: none;
  }
  
.menu a {
    font-size: 22px;
      color: var(--light);
      padding: 14px 20px;
      text-decoration: none;
      
    }
  
.menu a:hover {
    background-color: var(--light);
    color: white;
  }


/* For responsive Use*/

  input[type=checkbox] {
    display: none;
    } 
    
    /* HAMBURGER MENU */
    .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    }


/* First Page / Intro*/

.first-page {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
}
.introduction {
    flex: 1;
}

/* First Page / Image*/

.cover {
 flex: 1;
 display: flex;
 justify-content: center; height: 60vh;
}

.cover img {
  height: 75%;
  animation: drop 1.5s ease;
  opacity: 0.5;
}

/* First Page / Heading / Text / Buttons */

h1{
    font-size: 200px;
    font-weight: bold;
}

.header-color {
    color: var(--light);
}

.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #585772;

}

.cta {
    padding: 50px 0px 0px 0px;
}
.cta-about {
    border: 2px solid 	var(--dark);
    background: transparent;
    color:	var(--dark);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.cta-portfolio {
    background:	var(--dark);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 0px;
}

/* First Page / Background Images*/

.big-circle {
    position :absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.4;
    height: 80%;
}
.medium-circle {
    position: absolute;
    bottom: 20px;
    right: 200px;
    z-index: -1;
    opacity: 0.4;
}

/* About me Section*/

#second-page {
    margin: 5%;
    width: 90%;
    margin-top: 5%;
    min-height: 80vh;
}
.about {
    display: flex;
    flex: wrap;
}

h2 {
    display: flex;
    font-size: 200px;
    font-weight: bold;
    justify-content: center;
    padding-right: 1px;
}

.about p {
    margin-top: 5%;
    font-size: 22px;
    color: #585772;
}

.about-image {
padding-right: 15px;
width: 100%;
height: auto;
}



/* Aside section */

.work {
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    color: white;
    background-color: grey;
    font-family: 'sans-serif';
    font-size: 22px;
    text-align: center;
}

h3 {
  display: relative;
  text-align: center;
  font-size: 50px;
}

.work-box {
  margin-bottom: 32px;
}

/* Aside section Images */

#html,
#css,
#javascript {
  display: block;
  margin: 10px auto;
  width: 100%;
  height: auto;
}

/* Projects */


.project-list {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    max-width: 100%;
}

.projects {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  

  .card {
    border-width: 20px;
    border-radius: 30px;
    box-shadow: 5px 10px;
    padding: 10px;
    margin-bottom: 20px;
    flex: 0 0 300px;
    cursor: pointer;
  }

  .card img {
    width: 500px;
    height:500px;
    opacity: 0.5;
    border-radius: 30px;
    transition: transform .2s;
  }

  .card img:hover {
    opacity: 1;
    transform:scale(1.5);
  }

/* Descripton of projects */

  span[data-descr] {
    position: relative;
    font-size: 30px;
    color: black;
    cursor: cursor;
    font-weight:bold;
    padding-bottom: 10px;
  }

/* Descripton of projects when hovering project title */

  span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    font-weight: bold;
    left: 0px;
    bottom: 24px;
    min-width: 200px;
    border: 3px grey solid;
    background-color: white;
    padding: 12px;
    color: black;
    font-size: 50%;
  }

/* Contact Page */

  #fourth-page {
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 210px;
    min-height: 90vh;
    background-image: url(../images/mid-eclipse.svg);
    background-repeat: no-repeat;
    background-position: bottom 10px left;
}
.contact {

}

.contact h4 {
  margin-top: 50px;
  display: flex;
  font-size: 30px;
  }


  .social-media p {
  font-size: 20px;
  }
  .social-media img {
   padding: 20px 5px 5px 5px;
 
  }

  .social-media img:hover {
    cursor: pointer;
  }

  .social-media {
    padding: 20px;
    clear: both;
    float: right;
    width: 30%;
    height: 100%;
    color: black;
    font-family: 'sans-serif';
    font-size: 22px;
    text-align: center; }

  /* Contact Form */


  form {
     max-width: 500px;
    margin-left: 100px;
  }
  
  form p {
    margin: 5% 0;
  }

  button {
    background:	var(--dark);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
  }
  
  /* Styles the drop down menu selector/image */
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
  }
  
  .text-input {
    width: 100%;
    max-width: 100%;
  }
  

  .text-input, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid #b9C6ae;
  }
  
  .text-input:hover, 
  select:hover, button:hover {
    box-shadow: 0 0 5px #999;
  }
  
  /* when the user clicks or taps this element, the changes documented in the style sheet occur */
  .text-input:focus {
    background-color: #ADD8E6;
  }
  
  .flex-row {
    display: flex;
  }
  
  .flex-row select {
    margin-left: 2%;
    width:200px;
  }

  
  
  /*footer*/

  footer {
    display: flex;
    justify-content:space-around;
    padding: 1%;
    background-color: var(--light);
    color: #fff;
    max-width:100%;
  }

footer p {
  font-size: 22px;
}

/* Footer social */
  .footer-social ul {
    display: inline-flex;
}
.footer-social li a {
  font-size: 30px;
  padding-right: 10px;
  padding-left: 10px;
  color: black;
} 

.footer-social ul li a:hover {
  border: 1px solid white;
  color: white;
}


  /* Cover animation */

@keyframes drop {
  0% {
      opacity: 0;
      transform: translate(-80px);
  }
  100% {
      opacity: 1;
      transform: translate(0px);
  }
}



  /* Responsive / Mobile */
 

@media screen and (max-width: 1024px) {

  
  .cover img {
    display: column;
    height: 500px;
}

  .first-page,
    .about {
        flex-direction: column;
        
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1, h2 {
        font-size: 100px;
    }
    .intro-text p,
     {
        padding-top: 20%;
        font-size: 22px;
       
    }
    .small-circle,
    .big-circle, {
   opacity: 0.2;
   }

   .cta {
    display: column;
    margin: 0 auto;
    max-width: 50%;
    }
    
    .about-image img {
        display: column;
        height: 500px;
        justify-content: center;

    }

     .work{
    width: 100%;
    height: auto;
    position: relative;
  }

  #html,
#css,
#javascript {
  height:200px;
  width: 200px;
}

  .work p {float: left;
  }

  .card img:hover {
    opacity: 1;
    transform:scale(1);
  }

    .contact h4 {
      margin-top: 20px;
      text-align: center;
    }
    
  
    .social-media {
      display: column;
      font-size: 10px;
      }

    .social-media img {
      height: auto;
    }

    form {
     display: flex;
     flex-direction: column;
    }

}

@media (max-width: 997px) {
#fouth-page {
  height: 50%;
  
}
}

@media (max-width: 768px) {
  .menu {
  display:none;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
  }
  
  input[type=checkbox]:checked ~ .menu {
    display: flex;
    font-size: 10px;
  }
    
  .hamburger {
  display: block;
  }
 

  h2 {
    font-size:80px;
  }
  .card img {
    width: 300px;
    height:300px;
  }

  .social-media p {
    font-size: 14px;
 }
 .social-media img {
  height: 50px;
}
form {
  max-width: 500px;
 margin: 0;
}
.flex-row select {
  margin-left: 2%;
  width:50px;
  background-image: none;

}

footer p {
  font-size: 13px;
}

.footer-social li a {
  display: inline-block;
  font-size: 14px;
} 
}